<!DOCTYPE html>
<html>
  <head>
    <script src="../jquery-2.2.2.min.js"></script>
    <script src="../react-0.14.8/build/react.js"></script>
    <script src="../react-0.14.8/build/react-dom.js"></script>
    <script src="../browser.min.js"></script>
    <link href="../vt7resp.css" rel="StyleSheet" type="text/css" media="all">
    <link href="../vt7.css" rel="StyleSheet" type="text/css" media="all and (min-width: 600px)">
    <meta charset="UTF-8">
    <title>Vuokraamo (React.js -sovellus)</title>
  </head>
  <body>
  <div id="main"></div>
  <script type="text/babel" src="../oma.js"></script>
  </body>
</html>
